# Exercise 1: Convert two lists into a dictionary

In [1]:
keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]

dct = {}
for i in range(len(keys)):
    dct.update({keys[i]: values[i]})
print(dct)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

# Exercise 2: Merge two Python dictionaries into one

In [2]:
dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

dict1.update(dict2)
print(dict1)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

# Exercise 3: Print the value of key ‘history’ from the below dict

In [4]:
sampleDict = {
    "class": {
        "student": {
            "name": "Mike",
            "marks": {
                "physics": 70,
                "history": 80
            }
        }
    }
}

print(sampleDict["class"]["student"]["marks"]["history"])

80

# Exercise 4: Initialize dictionary with default values

In [8]:
employees = ['Kelly', 'Emma']
defaults = {"designation": 'Developer', "salary": 8000}

dict1 = {}
dict1.update({employees[0]:defaults})
dict1.update({employees[1]:defaults})
print(dict1)

{'Kelly': {'designation': 'Developer', 'salary': 8000}, 'Emma': {'designation': 'Developer', 'salary': 8000}}

# Exercise 5: Create a dictionary by extracting the keys from a given dictionary

In [13]:
sample_dict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"}

# Keys to extract
keys = ["name", "salary"]

dict1 = {}
for k in keys:
    dict1.update({k:sample_dict[k]})
print(dict1)

{'name': 'Kelly', 'salary': 8000}

# Exercise 6: Delete a list of keys from a dictionary

In [14]:
sample_dict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"
}

# Keys to remove
keys = ["name", "salary"]

for k in keys:
    sample_dict.pop(k)
print(sample_dict)

{'age': 25, 'city': 'New york'}

# Exercise 7: Check if a value exists in a dictionary

In [15]:
sample_dict = {'a': 100, 'b': 200, 'c': 300}
if 200 in sample_dict.values():
    print(True)
else:
    print(False)

True

# Exercise 8: Rename key of a dictionary

In [16]:
sample_dict = {
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "city": "New york"
}

sample_dict.pop("city")
sample_dict.update({"location":"New york"})
print(sample_dict)

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}

# Exercise 9: Get the key of a minimum value from the following dictionary

In [17]:
sample_dict = {
  'Physics': 82,
  'Math': 65,
  'history': 75
}

print(min(sample_dict.values()))

65

# Exercise 10: Change value of a key in a nested dictionary

In [18]:
sample_dict = {
    'emp1': {'name': 'Jhon', 'salary': 7500},
    'emp2': {'name': 'Emma', 'salary': 8000},
    'emp3': {'name': 'Brad', 'salary': 500}
}

sample_dict["emp3"]["salary"] = 8500
print(sample_dict)

{'emp1': {'name': 'Jhon', 'salary': 7500}, 'emp2': {'name': 'Emma', 'salary': 8000}, 'emp3': {'name': 'Brad', 'salary': 8500}}