# MySQL

## Connection

In [8]:
import mysql.connector
connection = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "ashishunixm9"
)
print(connection)

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000024163008A30>

## Creating a database

In [9]:
cursor = connection.cursor() # cursor is an object which helps to execute sql commands
cursor.execute("DROP DATABASE IF EXISTS `db`")
cursor.execute("CREATE DATABASE db")

## Creating table

In [10]:
cursor.execute("USE db")
cursor.execute("DROP TABLE IF EXISTS `customers`")
cursor.execute("CREATE TABLE customers ( id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(255), address VARCHAR(255))")

## Adding data

In [12]:
name = str(input("Name: "))
address = str(input("Address: "))
cursor.execute("INSERT INTO customers (name, address) VALUES ('{}','{}')".format(name,address))
connection.commit()
cursor.execute("SELECT * FROM customers")
out = cursor.fetchall()
print(out)
cursor.close()
connection.close()

Name: ashish
Address: mumbai

ProgrammingError: 2055: Cursor is not connected