In [14]:
import pandas as pd
import matplotlib.pyplot as plt

In [15]:
df = pd.read_csv('result.csv')
df.head()

,seat_no,prn,centre,total_gradepoints,sgpi,status,year_of_admission,clg_id,gender
0,5201541,2020016402260361,Mumbai,201.0,9.14,Successful,2020,10,M
1,5201542,2020016402258942,Mumbai,178.0,8.09,Successful,2020,10,M
2,5201543,2018016402446735,Mumbai,175.0,7.95,Successful,2018,10,M
3,5201544,2019016402401026,Mumbai,166.0,7.55,Successful,2019,10,M
4,5201545,2019016402401011,Mumbai,177.0,8.05,Successful,2019,10,M

In [16]:
df.isna().sum()

seat_no               0
prn                   0
centre               21
total_gradepoints     0
sgpi                  0
status                0
year_of_admission     0
clg_id                0
gender                0
dtype: int64

In [17]:
df.shape

(5211, 9)

In [18]:
df = df.dropna()
df.columns

Index(['seat_no', 'prn', 'centre', 'total_gradepoints', 'sgpi', 'status',
       'year_of_admission', 'clg_id', 'gender'],
      dtype='object')

In [19]:
df = df.drop(['seat_no', 'prn','total_gradepoints','clg_id'],axis=1)

In [20]:
df.head()

   centre  sgpi       status  year_of_admission gender
0  Mumbai  9.14  Successful                2020      M
1  Mumbai  8.09  Successful                2020      M
2  Mumbai  7.95  Successful                2018      M
3  Mumbai  7.55  Successful                2019      M
4  Mumbai  8.05  Successful                2019      M

In [24]:
df_successfull = df[df['status']=='Successful']

Empty DataFrame
Columns: [centre, sgpi, status, year_of_admission, gender]
Index: []