In [57]:
import pandas as pd
import statsmodels.api as sm

In [58]:
df = pd.read_csv("mumbai.csv")

In [59]:
df.head()

,price,Address,area,latitude,longitude,Bedrooms,Bathrooms,Balcony,Status,neworold,parking,Furnished_status,Lift,Landmarks,type_of_building,desc,Price_sqft
0,22400000.0,"Chembur, Mumbai - Harbour Line, Maharashtra",629.0,19.032800,72.896357,2.0,2.0,NaN,Under Construction,New Property,NaN,NaN,2.0,NaN,Flat,\n\n\n Right fr...,35612.082671
1,35000000.0,"Chembur, Mumbai - Harbour Line, Maharashtra",974.0,19.032800,72.896357,3.0,2.0,NaN,Under Construction,New Property,NaN,NaN,2.0,NaN,Flat,\n\n\n Right fr...,35934.291581
2,31700000.0,"Ghatkopar East, Mumbai - Central Line, Maharas...",968.0,19.085600,72.909277,3.0,3.0,NaN,Under Construction,New Property,1.0,NaN,2.0,NaN,Flat,\n \n \n...,32747.933884
3,18700000.0,"Plot Number 283, Road Number 3, Jawahar Nagar,...",629.0,19.155756,72.846862,2.0,2.0,2.0,Ready to Move,New Property,1.0,NaN,3.0,Laxmi Callista,Flat,\n\n\n Welcome ...,29729.729730
4,13500000.0,"malad east, Malad East, Mumbai - North Mumbai,...",1090.0,19.177555,72.849887,2.0,2.0,NaN,NaN,New Property,1.0,Unfurnished,2.0,near uper govind nagar,Flat,\n \n \n...,12385.321101

In [60]:
df.shape

(6255, 17)

In [61]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6255 entries, 0 to 6254
Data columns (total 17 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   price             6255 non-null   float64
 1   Address           6255 non-null   object
 2   area              6255 non-null   float64
 3   latitude          6255 non-null   float64
 4   longitude         6255 non-null   float64
 5   Bedrooms          6255 non-null   float64
 6   Bathrooms         6255 non-null   float64
 7   Balcony           2376 non-null   float64
 8   Status            5774 non-null   object
 9   neworold          6255 non-null   object
 10  parking           2129 non-null   float64
 11  Furnished_status  3600 non-null   object
 12  Lift              1678 non-null   float64
 13  Landmarks         2617 non-null   object
 14  type_of_building  6255 non-null   object
 15  desc              6255 non-null   object
 16  Price_sqft        6255 non-null   float64
dtypes: float64(10), object(7)
memory usage: 830.9+ KB

In [62]:
df.dtypes

price               float64
Address              object
area                float64
latitude            float64
longitude           float64
Bedrooms            float64
Bathrooms           float64
Balcony             float64
Status               object
neworold             object
parking             float64
Furnished_status     object
Lift                float64
Landmarks            object
type_of_building     object
desc                 object
Price_sqft          float64
dtype: object

In [63]:
df["type_of_building"].unique()

array(['Flat', 'Individual House'], dtype=object)

In [64]:
df = df[~(df['type_of_building'] == 'Individual House')]

In [65]:
df["Balcony"] = df["Balcony"].fillna(0)

In [66]:
df["Balcony"].unique()

array([0., 2., 3., 1., 4., 5., 6., 7., 8.])

In [67]:
df.shape

(5828, 17)

In [68]:
df["Furnished_status"].unique()

array([nan, 'Unfurnished', 'Semi-Furnished', 'Furnished'], dtype=object)

In [69]:
df["Furnished_status"] = df["Furnished_status"].fillna("Unfurnished")

In [73]:
y = df["price"]
x1 = df[["area","Bedrooms","Bathrooms","Balcony"]]
x = sm.add_constant(x1)
result = sm.OLS(y,x).fit()
summary = result.summary()
area = result.params.area
bed = result.params.Bedrooms
bath = result.params.Bathrooms
balcony = result.params.Balcony
const = result.params.const
a = 830
br = 1
bt = 2
bl = 2
price = area*a+bed*br+bath*bt+balcony*bl+const
price

13013990.352140661