In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.datasets import load_iris

In [2]:
iris = load_iris()

In [3]:
df = pd.DataFrame(iris.data,columns=iris.feature_names)

In [6]:
df['flower'] = iris.target
df['flower'] = df['flower'].apply(lambda x: iris.target_names[x])

In [7]:
df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),flower
0,5.1,3.5,1.4,0.2,setosa
1,4.9,3.0,1.4,0.2,setosa
2,4.7,3.2,1.3,0.2,setosa
3,4.6,3.1,1.5,0.2,setosa
4,5.0,3.6,1.4,0.2,setosa
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,virginica
146,6.3,2.5,5.0,1.9,virginica
147,6.5,3.0,5.2,2.0,virginica
148,6.2,3.4,5.4,2.3,virginica
149,5.9,3.0,5.1,1.8,virginica

In [13]:
x_train,x_test,y_train,y_test = train_test_split(iris.data,iris.target,test_size=0.3)

In [14]:
from sklearn.svm import SVC

In [15]:
model = SVC(kernel='rbf',C=30,gamma='auto')
model.fit(x_train,y_train)
model.score(x_test,y_test)

0.9555555555555556

In [18]:
from sklearn.model_selection import StratifiedKFold
from sklearn.model_selection import cross_val_score

In [22]:
# cv is fold value
cross_val_score(SVC(kernel='linear',C=10,gamma='auto'),iris.data,iris.target,cv=5)

array([1.        , 1.        , 0.9       , 0.96666667, 1.        ])

In [23]:
cross_val_score(SVC(kernel='rbf',C=10,gamma='auto'),iris.data,iris.target,cv=5)

array([0.96666667, 1.        , 0.96666667, 0.96666667, 1.        ])

In [24]:
cross_val_score(SVC(kernel='poly',C=20,gamma='auto'),iris.data,iris.target,cv=5)

array([0.96666667, 0.96666667, 0.9       , 0.93333333, 1.        ])

In [29]:
import numpy as np
kernels = ['rbf','linear','poly']
C = [1,10,20]
avg_scores = {}
for kernel in kernels:
    for c in C:
        val = cross_val_score(SVC(kernel=kernel,C=c, gamma='auto'),iris.data,iris.target,cv=5)
        avg_scores[kernel+'_'+str(c)] = np.average(val)
avg_scores

{'rbf_1': 0.9800000000000001,
 'rbf_10': 0.9800000000000001,
 'rbf_20': 0.9666666666666668,
 'linear_1': 0.9800000000000001,
 'linear_10': 0.9733333333333334,
 'linear_20': 0.9666666666666666,
 'poly_1': 0.9666666666666666,
 'poly_10': 0.9666666666666666,
 'poly_20': 0.9533333333333334}

In [31]:
# grid search cv is used get score of model and which to choose
from sklearn.model_selection import GridSearchCV

In [41]:
#GrudSearchCV(model,parameter gird as a dictionary)
clf = GridSearchCV(SVC(gamma='auto'),{
    'C' : [1,10,20],
    'kernel' : ['rbf','linear','poly']
},cv=5,return_train_score=False)

In [42]:
clf.fit(iris.data,iris.target)
clf.cv_results_

{'mean_fit_time': array([0.00659857, 0.00920038, 0.00941033, 0.00359735, 0.00319777,
        0.02400007, 0.00339589, 0.00659676, 0.03979874]),
 'std_fit_time': array([0.00471749, 0.00471043, 0.00633479, 0.00049036, 0.00039597,
        0.01872066, 0.00049159, 0.00541758, 0.03768411]),
 'mean_score_time': array([0.00279918, 0.00239892, 0.00699501, 0.00480132, 0.00299845,
        0.00200024, 0.0024003 , 0.00200233, 0.00220227]),
 'std_score_time': array([7.48814188e-04, 4.92947935e-04, 9.00314090e-03, 5.60173990e-03,
        1.55201726e-03, 6.30830233e-04, 4.90156142e-04, 7.62432645e-06,
        4.03643823e-04]),
 'param_C': masked_array(data=[1, 1, 1, 10, 10, 10, 20, 20, 20],
              mask=[False, False, False, False, False, False, False, False,
                    False],
        fill_value='?',
             dtype=object),
 'param_kernel': masked_array(data=['rbf', 'linear', 'poly', 'rbf', 'linear', 'poly',
                    'rbf', 'linear', 'poly'],
              mask=[False, False, False, False, False, False, False, False,
                    False],
        fill_value='?',
             dtype=object),
 'params': [{'C': 1, 'kernel': 'rbf'},
  {'C': 1, 'kernel': 'linear'},
  {'C': 1, 'kernel': 'poly'},
  {'C': 10, 'kernel': 'rbf'},
  {'C': 10, 'kernel': 'linear'},
  {'C': 10, 'kernel': 'poly'},
  {'C': 20, 'kernel': 'rbf'},
  {'C': 20, 'kernel': 'linear'},
  {'C': 20, 'kernel': 'poly'}],
 'split0_test_score': array([0.96666667, 0.96666667, 1.        , 0.96666667, 1.        ,
        1.        , 0.96666667, 1.        , 0.96666667]),
 'split1_test_score': array([1.        , 1.        , 1.        , 1.        , 1.        ,
        1.        , 1.        , 1.        , 0.96666667]),
 'split2_test_score': array([0.96666667, 0.96666667, 0.9       , 0.96666667, 0.9       ,
        0.9       , 0.9       , 0.9       , 0.9       ]),
 'split3_test_score': array([0.96666667, 0.96666667, 0.93333333, 0.96666667, 0.96666667,
        0.93333333, 0.96666667, 0.93333333, 0.93333333]),
 'split4_test_score': array([1., 1., 1., 1., 1., 1., 1., 1., 1.]),
 'mean_test_score': array([0.98      , 0.98      , 0.96666667, 0.98      , 0.97333333,
        0.96666667, 0.96666667, 0.96666667, 0.95333333]),
 'std_test_score': array([0.01632993, 0.01632993, 0.0421637 , 0.01632993, 0.03887301,
        0.0421637 , 0.03651484, 0.0421637 , 0.03399346]),
 'rank_test_score': array([1, 1, 6, 1, 4, 6, 5, 6, 9])}

In [43]:
df = pd.DataFrame(clf.cv_results_)
df

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_C,param_kernel,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.006599,0.004717,0.002799,0.000749,1,rbf,"{'C': 1, 'kernel': 'rbf'}",0.966667,1.000000,0.966667,0.966667,1.0,0.980000,0.016330,1
1,0.009200,0.004710,0.002399,0.000493,1,linear,"{'C': 1, 'kernel': 'linear'}",0.966667,1.000000,0.966667,0.966667,1.0,0.980000,0.016330,1
2,0.009410,0.006335,0.006995,0.009003,1,poly,"{'C': 1, 'kernel': 'poly'}",1.000000,1.000000,0.900000,0.933333,1.0,0.966667,0.042164,6
3,0.003597,0.000490,0.004801,0.005602,10,rbf,"{'C': 10, 'kernel': 'rbf'}",0.966667,1.000000,0.966667,0.966667,1.0,0.980000,0.016330,1
4,0.003198,0.000396,0.002998,0.001552,10,linear,"{'C': 10, 'kernel': 'linear'}",1.000000,1.000000,0.900000,0.966667,1.0,0.973333,0.038873,4
5,0.024000,0.018721,0.002000,0.000631,10,poly,"{'C': 10, 'kernel': 'poly'}",1.000000,1.000000,0.900000,0.933333,1.0,0.966667,0.042164,6
6,0.003396,0.000492,0.002400,0.000490,20,rbf,"{'C': 20, 'kernel': 'rbf'}",0.966667,1.000000,0.900000,0.966667,1.0,0.966667,0.036515,5
7,0.006597,0.005418,0.002002,0.000008,20,linear,"{'C': 20, 'kernel': 'linear'}",1.000000,1.000000,0.900000,0.933333,1.0,0.966667,0.042164,6
8,0.039799,0.037684,0.002202,0.000404,20,poly,"{'C': 20, 'kernel': 'poly'}",0.966667,0.966667,0.900000,0.933333,1.0,0.953333,0.033993,9

In [44]:
df[['param_C','param_kernel','mean_test_score']]

  param_C param_kernel  mean_test_score
0       1          rbf         0.980000
1       1       linear         0.980000
2       1         poly         0.966667
3      10          rbf         0.980000
4      10       linear         0.973333
5      10         poly         0.966667
6      20          rbf         0.966667
7      20       linear         0.966667
8      20         poly         0.953333

In [45]:
dir(clf)

['__abstractmethods__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_abc_impl',
 '_check_feature_names',
 '_check_n_features',
 '_check_refit_for_multimetric',
 '_estimator_type',
 '_format_results',
 '_get_param_names',
 '_get_tags',
 '_more_tags',
 '_repr_html_',
 '_repr_html_inner',
 '_repr_mimebundle_',
 '_required_parameters',
 '_run_search',
 '_select_best_index',
 '_validate_data',
 '_validate_params',
 'best_estimator_',
 'best_index_',
 'best_params_',
 'best_score_',
 'classes_',
 'cv',
 'cv_results_',
 'decision_function',
 'error_score',
 'estimator',
 'fit',
 'get_params',
 'inverse_transform',
 'multimetric_',
 'n_features_in_',
 'n_jobs',
 'n_splits_',
 'param_grid',
 'pre_dispatch',
 'predict',
 'predict_log_proba',
 'predict_proba',
 'refit',
 'refit_time_',
 'return_train_score',
 'score',
 'score_samples',
 'scorer_',
 'scoring',
 'set_params',
 'transform',
 'verbose']

In [46]:
clf.best_score_

0.9800000000000001

In [47]:
clf.best_params_

{'C': 1, 'kernel': 'rbf'}

In [52]:
# to avoid high computation time use randomized search cv
from sklearn.model_selection import RandomizedSearchCV
rs = RandomizedSearchCV(SVC(gamma='auto'),{
    'C' : [1,10,20],
    'kernel' : ['rbf','linear']
},cv=5,return_train_score=False,n_iter=2)

In [53]:
rs.fit(iris.data,iris.target)
rs.cv_results_

{'mean_fit_time': array([0.00400324, 0.00640092]),
 'std_fit_time': array([1.11557477e-05, 4.53610419e-03]),
 'mean_score_time': array([0.00380182, 0.00279374]),
 'std_score_time': array([0.00159003, 0.00074265]),
 'param_kernel': masked_array(data=['rbf', 'linear'],
              mask=[False, False],
        fill_value='?',
             dtype=object),
 'param_C': masked_array(data=[1, 10],
              mask=[False, False],
        fill_value='?',
             dtype=object),
 'params': [{'kernel': 'rbf', 'C': 1}, {'kernel': 'linear', 'C': 10}],
 'split0_test_score': array([0.96666667, 1.        ]),
 'split1_test_score': array([1., 1.]),
 'split2_test_score': array([0.96666667, 0.9       ]),
 'split3_test_score': array([0.96666667, 0.96666667]),
 'split4_test_score': array([1., 1.]),
 'mean_test_score': array([0.98      , 0.97333333]),
 'std_test_score': array([0.01632993, 0.03887301]),
 'rank_test_score': array([1, 2])}

In [54]:
df = pd.DataFrame(rs.cv_results_)
df

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_kernel,param_C,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.004003,0.000011,0.003802,0.001590,rbf,1,"{'kernel': 'rbf', 'C': 1}",0.966667,1.0,0.966667,0.966667,1.0,0.980000,0.016330,1
1,0.006401,0.004536,0.002794,0.000743,linear,10,"{'kernel': 'linear', 'C': 10}",1.000000,1.0,0.900000,0.966667,1.0,0.973333,0.038873,2

In [55]:
df[['param_C','param_kernel','mean_test_score']]

  param_C param_kernel  mean_test_score
0       1          rbf         0.980000
1      10       linear         0.973333

In [56]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression

In [57]:
model_params = {
    'svm' : {
        'model': SVC(gamma='auto'),
        'params': {
            'C': [1,10,20],
            'kernel' : ['rbf','linear']
        }
    },
    'random_forest':{
        'model': RandomForestClassifier(),
        'params' : {
            'n_estimators': [1,5,10]
        }
    },
    'logistic_regression': {
        'model': LogisticRegression(solver='liblinear',multi_class='auto'),
        'params': {
            'C': [1,5,10]
        }
    }
}

In [58]:
scores = []
for model_name, mp in model_params.items():
    clf = GridSearchCV(mp['model'],mp['params'],cv=5,return_train_score=False)
    clf.fit(iris.data,iris.target)
    scores.append({
        'model': model_name,
        'best_score': clf.best_score_,
        'best_params': clf.best_params_
    })
scores

[{'model': 'svm',
  'best_score': 0.9800000000000001,
  'best_params': {'C': 1, 'kernel': 'rbf'}},
 {'model': 'random_forest',
  'best_score': 0.96,
  'best_params': {'n_estimators': 10}},
 {'model': 'logistic_regression',
  'best_score': 0.9666666666666668,
  'best_params': {'C': 5}}]

In [60]:
df = pd.DataFrame(scores)
df

                 model  best_score                best_params
0                  svm    0.980000  {'C': 1, 'kernel': 'rbf'}
1        random_forest    0.960000       {'n_estimators': 10}
2  logistic_regression    0.966667                   {'C': 5}

# Exercise

In [68]:
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import GaussianNB
from sklearn.naive_bayes import MultinomialNB
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import RandomizedSearchCV
from sklearn.datasets import load_digits
import pandas as pd
import numpy as np

In [69]:
digits = load_digits()

In [70]:
dir(digits)

['DESCR', 'data', 'feature_names', 'frame', 'images', 'target', 'target_names']

In [71]:
clf = GridSearchCV(SVC(gamma='auto'),{
    'C': [1,5,10],
    'kernel': ['rbf','linear']
},cv=5,return_train_score=False)

In [77]:
clf.fit(digits.data,digits.target)

GridSearchCV(cv=5, estimator=SVC(gamma='auto'),
             param_grid={'C': [1, 5, 10], 'kernel': ['rbf', 'linear']})

In [78]:
clf.cv_results_

{'mean_fit_time': array([0.96419196, 0.11099987, 0.95960159, 0.10740986, 0.95022912,
        0.10739441]),
 'std_fit_time': array([0.02218637, 0.01134704, 0.01141204, 0.00488111, 0.00352981,
        0.00431206]),
 'mean_score_time': array([0.29880176, 0.02479873, 0.27799745, 0.02459998, 0.27639537,
        0.02459536]),
 'std_score_time': array([0.02688637, 0.00040024, 0.00656961, 0.00049052, 0.00694476,
        0.00049234]),
 'param_C': masked_array(data=[1, 1, 5, 5, 10, 10],
              mask=[False, False, False, False, False, False],
        fill_value='?',
             dtype=object),
 'param_kernel': masked_array(data=['rbf', 'linear', 'rbf', 'linear', 'rbf', 'linear'],
              mask=[False, False, False, False, False, False],
        fill_value='?',
             dtype=object),
 'params': [{'C': 1, 'kernel': 'rbf'},
  {'C': 1, 'kernel': 'linear'},
  {'C': 5, 'kernel': 'rbf'},
  {'C': 5, 'kernel': 'linear'},
  {'C': 10, 'kernel': 'rbf'},
  {'C': 10, 'kernel': 'linear'}],
 'split0_test_score': array([0.41111111, 0.96388889, 0.45277778, 0.96388889, 0.45277778,
        0.96388889]),
 'split1_test_score': array([0.45      , 0.91944444, 0.46944444, 0.91944444, 0.46944444,
        0.91944444]),
 'split2_test_score': array([0.454039  , 0.96657382, 0.47910864, 0.96657382, 0.47910864,
        0.96657382]),
 'split3_test_score': array([0.44846797, 0.9637883 , 0.47910864, 0.9637883 , 0.47910864,
        0.9637883 ]),
 'split4_test_score': array([0.47910864, 0.92479109, 0.50139276, 0.92479109, 0.50139276,
        0.92479109]),
 'mean_test_score': array([0.44854534, 0.94769731, 0.47636645, 0.94769731, 0.47636645,
        0.94769731]),
 'std_test_score': array([0.02176115, 0.02097775, 0.01578414, 0.02097775, 0.01578414,
        0.02097775]),
 'rank_test_score': array([6, 1, 4, 1, 4, 1])}

In [80]:
df = pd.DataFrame(clf.cv_results_)
df

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_C,param_kernel,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.964192,0.022186,0.298802,0.026886,1,rbf,"{'C': 1, 'kernel': 'rbf'}",0.411111,0.450000,0.454039,0.448468,0.479109,0.448545,0.021761,6
1,0.111000,0.011347,0.024799,0.000400,1,linear,"{'C': 1, 'kernel': 'linear'}",0.963889,0.919444,0.966574,0.963788,0.924791,0.947697,0.020978,1
2,0.959602,0.011412,0.277997,0.006570,5,rbf,"{'C': 5, 'kernel': 'rbf'}",0.452778,0.469444,0.479109,0.479109,0.501393,0.476366,0.015784,4
3,0.107410,0.004881,0.024600,0.000491,5,linear,"{'C': 5, 'kernel': 'linear'}",0.963889,0.919444,0.966574,0.963788,0.924791,0.947697,0.020978,1
4,0.950229,0.003530,0.276395,0.006945,10,rbf,"{'C': 10, 'kernel': 'rbf'}",0.452778,0.469444,0.479109,0.479109,0.501393,0.476366,0.015784,4
5,0.107394,0.004312,0.024595,0.000492,10,linear,"{'C': 10, 'kernel': 'linear'}",0.963889,0.919444,0.966574,0.963788,0.924791,0.947697,0.020978,1

In [87]:
df[['param_C','param_kernel','mean_test_score']]

  param_C param_kernel  mean_test_score
0       1          rbf         0.448545
1       1       linear         0.947697
2       5          rbf         0.476366
3       5       linear         0.947697
4      10          rbf         0.476366
5      10       linear         0.947697

In [88]:
clf.best_score_

0.9476973073351903

In [95]:
models = {
    'svm': {
    'model': SVC(gamma='auto'),
    'params': {
        'C': [1,5,10],
        'kernel':['linear','rbf']
    }},
    'logistic':{ 
    'model': LogisticRegression(solver='liblinear',multi_class='auto'),
    'params': {
        'C': [1,5,10]
    }},
    'random_forest' : {
    'model':RandomForestClassifier(),
    'params': {
        'n_estimators':[10,20,30]
    }},
    'decision_tree': {
    'model': DecisionTreeClassifier(),
    'params': {
        'criterion' : ["gini", "entropy", "log_loss"]
    }},
    'guass': {
    'model': GaussianNB(),
    'params': {
        
    }},
    'multi': {
    'model':MultinomialNB(),
    'params': {
        'alpha' : [1.0,0.5,0.8]
    }}
}

In [97]:
scores = {}
for model_name , params in models.items():
    clf = GridSearchCV(params['model'],params['params'],cv=5,return_train_score=False)
    clf.fit(digits.data,digits.target)
    scores[model_name] = {'best_score':clf.best_score_,'best_param':clf.best_params_}
    
scores

{'svm': {'best_score': 0.9476973073351903,
  'best_param': {'C': 1, 'kernel': 'linear'}},
 'logistic': {'best_score': 0.9221138966264315, 'best_param': {'C': 1}},
 'random_forest': {'best_score': 0.9337975858867225,
  'best_param': {'n_estimators': 30}},
 'decision_tree': {'best_score': 0.8180563293098112,
  'best_param': {'criterion': 'entropy'}},
 'guass': {'best_score': 0.8069281956050759, 'best_param': {}},
 'multi': {'best_score': 0.8703497369235531, 'best_param': {'alpha': 1.0}}}

In [98]:
df = pd.DataFrame(scores)
df

,svm,logistic,random_forest,decision_tree,guass,multi
best_score,0.947697,0.922114,0.933798,0.818056,0.806928,0.87035
best_param,"{'C': 1, 'kernel': 'linear'}",{'C': 1},{'n_estimators': 30},{'criterion': 'entropy'},{},{'alpha': 1.0}