In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('diabetes.csv')
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [5]:
df.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [7]:
df['Outcome'].value_counts()
268/500

0.536

In [9]:
x = df.drop('Outcome',axis=1)
y = df['Outcome']

In [10]:
from sklearn.preprocessing import StandardScaler

In [11]:
scaler = StandardScaler()
x_scaled = scaler.fit_transform(x)

In [13]:
from sklearn.model_selection import train_test_split

In [18]:
x_train,x_test,y_train,y_test = train_test_split(x_scaled,y,stratify=y,test_size=0.2)

In [20]:
x_train.shape

(614, 8)

In [22]:
y_train.value_counts()
214/400

0.535

In [28]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import cross_val_score

In [36]:
cross_val_score(DecisionTreeClassifier(),x,y,cv=5).mean()
# model = DecisionTreeClassifier()
# model.fit(x_train,y_train)
# model.score(x_test,y_test)

0.7188439011968424

In [37]:
from sklearn.ensemble import BaggingClassifier

In [42]:
#oob is out of bag
bag_model = BaggingClassifier(
    estimator = DecisionTreeClassifier(),
    n_estimators = 100,
    max_samples=0.8,
    oob_score = True,
    random_state=0
)
bag_model.fit(x_train,y_train)
bag_model.oob_score_

0.760586319218241

In [43]:
bag_model.score(x_test,y_test)

0.7207792207792207

In [44]:
#oob is out of bag
bag_model = BaggingClassifier(
    estimator = DecisionTreeClassifier(),
    n_estimators = 100,
    max_samples=0.8,
    oob_score = True,
    random_state=0
)
cross_val_score(bag_model,x,y,cv=5).mean()

0.7578728461081402

# Exercise

In [45]:
import pandas as pd

In [46]:
df = pd.read_csv('heart.csv')
df.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

In [47]:
def remove_outliers(df,cols):
    newdf = None
    for col in cols:
        val = 3*df[col].std()
        m = df[col].mean()
        df = df[(df[col]<(m+val))&(df[col]>(m-val))]
        newdf = df
    return newdf

In [48]:
to_get_zscore = ["Age","RestingBP","Cholesterol","FastingBS","MaxHR","Oldpeak"]
df1 = remove_outliers(df,to_get_zscore)
df1.describe()

,Age,RestingBP,Cholesterol,FastingBS,MaxHR,Oldpeak,HeartDisease
count,899.000000,899.000000,899.000000,899.000000,899.000000,899.000000,899.000000
mean,53.497219,132.027809,198.005562,0.232481,136.917686,0.861513,0.547275
std,9.456073,17.120895,107.157779,0.422649,25.356740,1.007626,0.498037
min,28.000000,80.000000,0.000000,0.000000,63.000000,-2.000000,0.000000
25%,47.000000,120.000000,174.500000,0.000000,120.000000,0.000000,0.000000
50%,54.000000,130.000000,222.000000,0.000000,138.000000,0.500000,1.000000
75%,60.000000,140.000000,266.000000,0.000000,156.000000,1.500000,1.000000
max,77.000000,185.000000,518.000000,1.000000,202.000000,4.000000,1.000000

In [49]:
df1 = pd.get_dummies(df1,drop_first=True)

In [50]:
from sklearn.preprocessing import StandardScaler

In [51]:
y = df1['HeartDisease']
x = df1.drop(['HeartDisease'],axis=1)

In [52]:
scaler = StandardScaler()
x_scaled = scaler.fit_transform(x)

In [53]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier

In [63]:
x_train,x_test,y_train,y_test = train_test_split(x_scaled,y,stratify=y,test_size=0.2)
model = RandomForestClassifier()
model.fit(x_train,y_train)
model.score(x_test,y_test)

0.8833333333333333

In [64]:
from sklearn.ensemble import BaggingClassifier

In [67]:
cross_val_score(DecisionTreeClassifier(),x_scaled,y,cv=5).mean()

0.7173370577281192

In [65]:
bag = BaggingClassifier(
    estimator = DecisionTreeClassifier(),
    n_estimators = 56,
    max_samples = 0.8,
    oob_score = True,
    random_state=0
)
bag.fit(x_train,y_train)
bag.oob_score_

0.8511821974965229

In [68]:
cross_val_score(bag,x_scaled,y,cv=5).mean()

0.7908007448789572

In [66]:
bag.score(x_test,y_test)

0.85