In [526]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [527]:
df = pd.read_csv('mumbai.csv')

In [528]:
df.columns

Index(['price', 'Address', 'area', 'latitude', 'longitude', 'Bedrooms',
       'Bathrooms', 'Balcony', 'Status', 'neworold', 'parking',
       'Furnished_status', 'Lift', 'Landmarks', 'type_of_building', 'desc',
       'Price_sqft'],
      dtype='object')

In [529]:
# df = df[['price','area','Bedrooms','Bathrooms']]
# df = df[['price','area','Bedrooms','Bathrooms','neworold','Furnished_status']]
df = df[['price','area','Bedrooms','Bathrooms','Price_sqft','neworold','Furnished_status']]

In [530]:
df.describe()

              price         area     Bedrooms    Bathrooms     Price_sqft
count  6.255000e+03  6255.000000  6255.000000  6255.000000    6255.000000
mean   2.684187e+07  1185.625260     2.452278     2.425580   21422.923601
std    2.788831e+07   636.973259     0.749534     0.762604   12698.478665
min    1.500000e+06   503.000000     2.000000     0.000000    1500.000000
25%    1.300000e+07   846.500000     2.000000     2.000000   13709.934735
50%    1.900000e+07  1000.000000     2.000000     2.000000   19285.714286
75%    3.000000e+07  1300.000000     3.000000     3.000000   26500.000000
max    3.600000e+08  8000.000000    10.000000    10.000000  119047.619048

In [531]:
df['Furnished_status'] = df['Furnished_status'].fillna(df['Furnished_status'].mode()[0])

In [532]:
def remove_outliers(df,cols):
    new_df = None
    for col in cols:
        low,high = df[col].quantile([0.1,0.9])
        new_df = df[(df[col]>=low)&(df[col]<=high)]
        df=new_df
    return df

In [533]:
# def remove_outliers(df,cols):
#     new_df = None
#     for col in cols:
#         std=df[col].std()*2
#         m = df[col].median()
#         new_df = df[(df[col]>=(m-std))&(df[col]<=(m+std))]
#         df=new_df
#     return df

In [534]:
# a = remove_outliers(df,['area','Bedrooms','Bathrooms'])
a = remove_outliers(df,['area','Bedrooms','Bathrooms','Price_sqft'])
a.describe()

              price         area     Bedrooms    Bathrooms    Price_sqft
count  3.931000e+03  3931.000000  3931.000000  3931.000000   3931.000000
mean   1.986945e+07  1055.064615     2.271178     2.219028  18802.894982
std    8.365126e+06   249.993612     0.444624     0.413640   6296.384848
min    5.400000e+06   700.000000     2.000000     2.000000   7345.971564
25%    1.400000e+07   860.000000     2.000000     2.000000  14596.567370
50%    1.850000e+07  1000.000000     2.000000     2.000000  18421.052632
75%    2.500000e+07  1200.000000     3.000000     2.000000  22916.666667
max    6.000000e+07  1800.000000     3.000000     3.000000  33366.045142

In [535]:
b = pd.get_dummies(a,drop_first=True)
y = b['price']
x = b.drop(['price'],axis=1)

In [536]:
x.head()

,area,Bedrooms,Bathrooms,Price_sqft,neworold_Resale,Furnished_status_Semi-Furnished,Furnished_status_Unfurnished
2,968.0,3.0,3.0,32747.933884,False,False,True
4,1090.0,2.0,2.0,12385.321101,False,False,True
6,1188.0,2.0,2.0,17424.242424,False,True,False
7,968.0,3.0,3.0,23657.024793,False,False,True
8,820.0,2.0,2.0,20731.707317,False,False,True

In [537]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.25,random_state=12)
model = LinearRegression()
model.fit(x_train,y_train)
model.score(x_test,y_test)

0.9700253877726814

In [538]:
c = model.predict(x_test)
len(c[c<0])

0

In [539]:
price = model.predict([[850,2,2,17000,True,False,False]])
format_price(price)

C:\Users\ashis\AppData\Roaming\Python\Python311\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

'Rs. 1,39,55,848'

In [540]:
def format_price(temp):
    temp = str(price[0]).split(".")[0]
    ans = ""
    temp = temp[::-1]
    c =0
    for i in range(len(temp)):
        if temp[i]==',':
            break
        if c==3:
            ans+=","
        c+=1
        ans+=temp[i]
    left,ans = ans.split(",")[0],ans.split(",")[-1]
    t = ""
    c = 0
    for i in range(len(ans)):
        if c==2:
            t+=","
            c =0 
        c+=1
        t+=ans[i]
    t = t[::-1]
    finalans = "Rs. "+t+","+left
    return finalans

In [541]:
# plt.scatter(a['Price_sqft'],a['price'])
# plt.show()

In [542]:
# sns.histplot(a['price'],kde=True)

In [543]:
# sns.histplot(a['area'],kde=True)