# Exercise 1: Reverse a list in Python

In [4]:
list1 = [100, 200, 300, 400, 500]

In [5]:
i = 0
j = len(list1)-1
while i<j:
    temp = list1[i]
    list1[i] = list1[j]
    list1[j] = temp
    i+=1
    j-=1    
print(list1)

[500, 400, 300, 200, 100]

# Exercise 2: Concatenate two lists index-wise

In [6]:
list1 = ["M", "na", "i", "Ke"]
list2 = ["y", "me", "s", "lly"]

In [9]:
ans = []
for i in range(len(list1)):
    ans.append(list1[i]+list2[i])
print(ans)

['My', 'name', 'is', 'Kelly']

# Exercise 3: Turn every item of a list into its square

In [11]:
numbers = [1, 2, 3, 4, 5, 6, 7]

In [12]:
for i in range(len(numbers)):
    numbers[i] = numbers[i]*numbers[i]
print(numbers)

[1, 4, 9, 16, 25, 36, 49]

# Exercise 4: Concatenate two lists in the following order

In [13]:
list1 = ["Hello ", "take "]
list2 = ["Dear", "Sir"]

In [14]:
ans = []
for i in range(len(list1)):
    for j in range(len(list2)):
        ans.append(list1[i]+" "+list2[j])
print(ans)

['Hello  Dear', 'Hello  Sir', 'take  Dear', 'take  Sir']

# Exercise 5: Iterate both lists simultaneously

In [15]:
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]

In [18]:
j = len(list2)-1
for i in range(len(list1)):
    print(list1[i], list2[j])
    j-=1

10 400
20 300
30 200
40 100

# Exercise 6: Remove empty strings from the list of strings

In [19]:
list1 = ["Mike", "", "Emma", "Kelly", "", "Brad"]

In [22]:
print(list(filter(None,list1)))

['Mike', 'Emma', 'Kelly', 'Brad']

# Exercise 7: Add new item to list after a specified item

In [28]:
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]

In [29]:
list1[2][2].append(7000)
print(list1)

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

# Exercise 8: Extend nested list by adding the sublist

In [30]:
list1 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]

# sub list to add
sub_list = ["h", "i", "j"]

In [32]:
list1[2][1][2].extend(sub_list)
print(list1)

['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']

# Exercise 9: Replace listâ€™s item with new value if found

In [34]:
list1 = [5, 10, 15, 20, 25, 50, 20]

In [35]:
ind = list1.index(20)
list1[ind] =  200
print(list1)

[5, 10, 15, 200, 25, 50, 20]

# Exercise 10: Remove all occurrences of a specific item from a list.

In [40]:
list1 = [5, 20, 15, 20, 25, 50, 20]

In [41]:
for i in range(len(list1)):
    if 20 in list1:
        list1.remove(20)
print(list1)

[5, 15, 25, 50]