# MySQL

## Connection

In [80]:
import mysql.connector
connection = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "ashishunixm9"
)
print(connection)

ModuleNotFoundError: No module named 'mysql'

## Creating a database

In [ ]:
cursor = connection.cursor() # cursor is an object which helps to execute sql commands
cursor.execute("DROP DATABASE IF EXISTS `db`")
cursor.execute("CREATE DATABASE db")

## Creating table

In [ ]:
cursor.execute("USE db")
cursor.execute("DROP TABLE IF EXISTS `customers`")
cursor.execute("CREATE TABLE customers ( id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(255), address VARCHAR(255))")

## Adding data

In [ ]:
name = str(input("Name: "))
address = str(input("Address: "))
cursor.execute("INSERT INTO customers (name, address) VALUES ('{}','{}')".format(name,address))
connection.commit()
cursor.execute("SELECT * FROM customers")
out = cursor.fetchall()
print(out)
cursor.close()
connection.close()

In [81]:
import sqlalchemy

In [82]:
sqlalchemy.__version__

'2.0.31'

In [83]:
from sqlalchemy import create_engine,text

In [84]:
engine = create_engine("sqlite+pysqlite:///:memory:",echo=True)

In [85]:
with engine.connect() as conn:
    result = conn.execute(text("select 'hello world'"))
    conn.commit()

2024-07-11 21:14:17,058 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-07-11 21:14:17,058 INFO sqlalchemy.engine.Engine select 'hello world'
2024-07-11 21:14:17,059 INFO sqlalchemy.engine.Engine [generated in 0.00105s] ()
2024-07-11 21:14:17,060 INFO sqlalchemy.engine.Engine COMMIT

In [86]:
conn = engine.connect()

In [87]:
res = conn.execute(text('''
                  
                  create table emp1 (
                      id int not null,
                      name varchar(2) not null,
                      age int,
                      check (age>18)
                  )
                  
                  '''))
res

2024-07-11 21:14:17,071 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-07-11 21:14:17,072 INFO sqlalchemy.engine.Engine

                  create table emp1 (
                      id int not null,
                      name varchar(2) not null,
                      age int,
                      check (age>18)
                  )


2024-07-11 21:14:17,073 INFO sqlalchemy.engine.Engine [generated in 0.00151s] ()

In [88]:
res = conn.execute(text('''
                    insert into emp1 values (:id,:name,:age)                 
                  
                  '''),[{"id": 2, "name": "yadav", "age":23},{"id": 2, "name": "yadav", "age":23}])
res

2024-07-11 21:14:17,080 INFO sqlalchemy.engine.Engine
                    insert into emp1 values (?,?,?)


2024-07-11 21:14:17,080 INFO sqlalchemy.engine.Engine [generated in 0.00077s] [(2, 'yadav', 23), (2, 'yadav', 23)]

In [89]:
res = conn.execute(text('''
                    select id,name from emp1                 
                  
                  '''))

2024-07-11 21:14:17,088 INFO sqlalchemy.engine.Engine
                    select id,name from emp1


2024-07-11 21:14:17,088 INFO sqlalchemy.engine.Engine [generated in 0.00078s] ()

In [90]:
for i in res.mappings():
    print(i)

{'id': 2, 'name': 'yadav'}
{'id': 2, 'name': 'yadav'}

In [91]:
res.all()

[]

In [92]:
res.all()

[]

### ORM Style

In [93]:
from sqlalchemy.orm import DeclarativeBase

In [94]:
from typing import Optional,List
from sqlalchemy.orm import Mapped, mapped_column, relationship

In [95]:
class Base(DeclarativeBase):
    pass

In [96]:
Base.metadata

MetaData()

In [97]:
class User(Base):
    __tablename__ = "user_account"

    id: Mapped[int] = mapped_column(primary_key=True)
    name: Mapped[str] = mapped_column(String(30))
    fullname: Mapped[Optional[str]]

    addresses: Mapped[List["Address"]] = relationship(back_populates="user")

    def __repr__(self) -> str:
        return f"User(id={self.id!r}, name={self.name!r}, fullname={self.fullname!r})"

class Address(Base):
    __tablename__ = "address"

    id: Mapped[int] = mapped_column(primary_key=True)
    email_address: Mapped[str]
    user_id = mapped_column(ForeignKey("user_account.id"))

    user: Mapped[User] = relationship(back_populates="addresses")

    def __repr__(self) -> str:
        return f"Address(id={self.id!r}, email_address={self.email_address!r})"

NameError: name 'String' is not defined