# Exercise 1: Reverse the tuple

In [2]:
tuple1 = (10, 20, 30, 40, 50)

lst = list(tuple1)
lst.reverse()
tuple1 = tuple(lst)
print(tuple1)

# Exercise 2: Access value 20 from the tuple

In [6]:
tuple1 = ("Orange", [10, 20, 30], (5, 15, 25))

print(tuple1[1][1])

20

# Exercise 3: Create a tuple with single item 50

In [13]:
lst = [50]
tuple1 = tuple(lst)
print(type(tuple1))

<class 'tuple'>

# Exercise 4: Unpack the tuple into 4 variables

In [14]:
tuple1 = (10, 20, 30, 40)

a, b, c, d = tuple1
print(a,b,c,d)

10 20 30 40

# Exercise 5: Swap two tuples in Python

In [15]:
tuple1 = (11, 22)
tuple2 = (99, 88)

temp = tuple1
tuple1 = tuple2
tuple2 = temp
print(tuple1)
print(tuple2)

(99, 88)
(11, 22)

# Exercise 6: Copy specific elements from one tuple to a new tuple

In [20]:
tuple1 = (11, 22, 33, 44, 55, 66)

tuple2 = tuple1[3:5]
print(tuple2)

(44, 55)

# Exercise 7: Modify the tuple

In [21]:
tuple1 = (11, [22, 33], 44, 55)

lst = list(tuple1)
lst[1][0] = 222
tuple1 = tuple(lst)
print(tuple1)

(11, [222, 33], 44, 55)

# Exercise 8: Sort a tuple of tuples by 2nd item

In [32]:
tuple1 = (('a', 23),('b', 37),('c', 11), ('d',29))

lst = []
for i in range(len(tuple1)):
    lst.append(list(tuple1[i]))
print(lst)

for i in range(len(lst)):
    for j in range(len(lst)-i-1):
        if lst[j][1]>lst[j+1][1]:
            temp = lst[j][1]
            lst[j][1] = lst[j+1][1]
            lst[j+1][1] = temp
            
tuple1 = tuple(lst)
print(tuple1)

[['a', 23], ['b', 37], ['c', 11], ['d', 29]]
(['a', 11], ['b', 23], ['c', 29], ['d', 37])

# Exercise 9: Counts the number of occurrences of item 50 from a tuple

In [33]:
tuple1 = (50, 10, 60, 70, 50)

print(tuple1.count(50))

2

# Exercise 10: Check if all items in the tuple are the same

In [35]:
tuple1 = (45, 45, 45, 45)

count = tuple1.count(tuple1[0])
if count==len(tuple1):
    print(True)
else:
    print(False)

True