# Dictionary

## Declaration and updation

In [22]:
a = {} #empty dictionary

In [23]:
a = {1:"Hello",2:"World"} #dictionary

In [24]:
a[1] = "Car"
print(a)

{1: 'Car', 2: 'World'}

In [25]:
c = dict({25:True,26:False}) #making dictionary using dict function
print(c)

{25: True, 26: False}

In [34]:
c[25] = "Hello"
c.update({26:[2,6,5]})
print(c)

{25: 'Hello', 26: [2, 6, 5]}

## Deletion

In [27]:
#pop popitem clear function is used

### pop

In [31]:
a = {1:"string",2:"int",6:"float"}
a.pop(6) # pops value at key 6 and return the value removed

'float'

### popitem

In [29]:
a.popitem() # it deletes the last item returns the tuple deleted i.e key: value pair

(2, 'int')

### clear

In [20]:
a.clear() # to empty entire dictionary
del a #del is used to completely delete the dictionary

In [32]:
print(a.keys()) # to get the keys of the dictionary

dict_keys([1, 2])

In [33]:
print(a.values()) # to get the values of the dictionary

dict_values(['string', 'int'])

In [35]:
print(a.items()) #to get the key value pairs

dict_items([(1, 'string'), (2, 'int')])

## Insertion

In [40]:
a = {"Name":"Ashish","age": 21}
print(a)

{'Name': 'Ashish', 'age': 21}

In [41]:
a.update({"mob":1234567890})
print(a)

{'Name': 'Ashish', 'age': 21, 'mob': 1234567890}

## Copy dictionary

In [43]:
b = dict(a) #or
c = a.copy()
print(c)

{'Name': 'Ashish', 'age': 21, 'mob': 1234567890}

## Nested dictionary

In [51]:
d = {"Cars":{
    "Asia" : ["Honda","Suzuki","Toyota"],
    "Europe" : ["BMW","Volkswagen"]
}}
print(d)

{'Cars': {'Asia': ['Honda', 'Suzuki', 'Toyota'], 'Europe': ['BMW', 'Volkswagen']}}

In [47]:
e = {"North America":["Chevy","Ford","GM"]}
d.update({"Cars":e})
print(d)

{'Cars': {'North America': ['Chevy', 'Ford', 'GM']}}

In [52]:
print(d["Cars"]["Asia"])

['Honda', 'Suzuki', 'Toyota']

# Tuple

In [53]:
# tuples are immutable data structures
a = (1,5,6)
print(a)

(1, 5, 6)

In [54]:
# it follows same indexing as lists
print(a[0])

1

In [55]:
# to change tuple value convert it into list then again tuple
lst = list(a)
lst.append(23)
a = tuple(lst)
print(a)

(1, 5, 6, 23)

In [56]:
# it is allowed to add two tuples
b = (69,)
a = a+b
print(a)

(1, 5, 6, 23, 69)

In [57]:
#removig item
lst = list(a)
lst.remove(69)
a = tuple(lst)
print(a)

(1, 5, 6, 23)

In [62]:
cars = ("honda","suzuki","lexus","toyota","audi")
(car1,car2,*car3) = cars 
"""If the number of variables is less than the 
number of values, you can add an * to the variable name and 
the values will be assigned to the variable as a list"""
print(car1)
print(car2)
print(car3)

honda
suzuki
['lexus', 'toyota', 'audi']

In [64]:
# count() tuple.count(value)
a.count(1)

1

In [65]:
# tuple.index(value)
a.index(5) # returns index of first occurences of the value

1

# Sets

In [76]:
myset = {"apple","banana","cherry"} # no repetition is allowed all elements should be unique
print(myset)

{'cherry', 'apple', 'banana'}

In [77]:
# create set using set() function
my_set = set(("1",2,True))
print(my_set)

{'1', 2, True}

## Insertion in sets

In [82]:
#add update(iterable)
myset.add("watermelon")
print(myset)
myset.update([2,6,89,2])
print(myset)

NameError: name 'myset' is not defined

## Deletion in sets

In [79]:
#remove discard del clear
myset.remove("cherry") #if not exists expection will be raised
print(myset)

{'banana', 2, 6, 'apple', 'watermelon', 89}

In [80]:
myset.discard("watermelon") #if exists then remove no exception will be raised
print(myset)

{'banana', 2, 6, 'apple', 89}

In [81]:
# clear makes set empty , del deletes the whole set
del myset

## Join sets

In [89]:
a = {1,2,3,4}
b = {1,3,6}
c = a.union(b) #or c = a | b
print(c)
c = a | b
print(c)

{1, 2, 3, 4, 6}
{1, 2, 3, 4, 6}

In [84]:
d = {30,32,35}
a.update(d)
print(a)

{32, 1, 2, 3, 4, 35, 30}

In [85]:
#intersection_update, intersection A n B, symmetric_difference_update, symmetric_difference
#update means x.intersection_update(y) it update x with intersection of x and y
# symmetric_difference (A n B)' non update variant return new set rather than modifying the old one

In [86]:
a.intersection_update(b)
print(a)

{1, 3}

In [87]:
c = a.intersection(b)
print(c)

{1, 3}

In [91]:
c = a.symmetric_difference(b)
print(c)

{2, 4, 6}