# Exercise 1: Add a list of elements to a set

In [17]:
sample_set = {"Yellow", "Orange", "Black"}
sample_list = ["Blue", "Green", "Red"]

sample_set.update(sample_list)
print(sample_set)

{'Green', 'Black', 'Yellow', 'Orange', 'Blue', 'Red'}

# Exercise 2: Return a new set of identical items from two sets

In [18]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

print(set1.intersection(set2))

{40, 50, 30}

# Exercise 3: Get Only unique items from two sets

In [19]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

print(set1.union(set2))

{70, 40, 10, 50, 20, 60, 30}

# Exercise 4: Update the first set with items that donâ€™t exist in the second set

In [20]:
set1 = {10, 20, 30}
set2 = {20, 40, 50}

set1.difference_update(set2)
print(set1)

{10, 30}

# Exercise 5: Remove items from the set at once

In [21]:
set1 = {10, 20, 30, 40, 50}
set2 = {10,20,30}

print(set1.difference(set2))

{40, 50}

# Exercise 6: Return a set of elements present in Set A or B, but not both

In [22]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

print(set1.symmetric_difference(set2))

{20, 70, 10, 60}

# Exercise 7: Check if two sets have any elements in common. If yes, display the common elements

In [23]:
set1 = {10, 20, 30, 40, 50}
set2 = {60, 70, 80, 90, 10}

if set1.isdisjoint(set2):
    print("Nothing is comman")
else:
    print(set1.intersection(set2))

{10}

# Exercise 8: Update set1 by adding items from set2, except common items

In [24]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

set1.symmetric_difference_update(set2)
print(set1)

{20, 70, 10, 60}

# Exercise 9: Remove items from set1 that are not common to both set1 and set2

In [ ]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

set1.intersection_update(set2)
print(set1)